table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

table {
    width: 80%; /* weboldal szélesssége */
    background-color: green; /* háttérszín */
    color: rgb(230, 198, 198); /* betűszín */
    font-family: 'Courier New'; /* betűtípus */
    font-size: 25px;
}

th {
    background-color: rgb(0, 0, 0);
}